<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Parse JavaScript Todo App</title>
    <!--<link href="css/_.css" media="all" rel="stylesheet" type="text/css"/>-->
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="js/underscore.js"></script>
    <script src="http://www.parsecdn.com/js/parse-1.2.13.min.js"></script>
    <script src="js/todos.js"></script>
  </head>

  <body>
    <script>
      // Initialize Parse
      Parse.initialize("BeYZxSllTAa0uompCH7V49osUz0MZlpMHTrtqLpG", "pGpQ1ERlCRDO8rX59aCG2q6rT6uK3RlQbq3uWLX1");
          window.fbAsyncInit = function() {
        Parse.FacebookUtils.init({ // this line replaces FB.init({
          appId      : '1626289347652973', // Facebook App ID
//          status     : true,  // check Facebook Login status
          cookie     : true,  // enable cookies to allow Parse to access the session
          xfbml      : true,  // initialize Facebook social plugins on the page
          version    : 'v2.4' // point to the latest Facebook Graph API version
        });
            // Run code after the Facebook SDK is loaded.
      };
          (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "http://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <!-- Todo App Interface -->
    <div id="todoapp">
      <div class="title">
        <h1>OkVSNA</h1>
      </div>

      <div class="content">
      </div>
    </div>

    <!-- Templates -->
    <script type="text/template" id="profile-template">
      <div id="nav"></div>

      <header id="header"></header>
      <div id="profile">
      <h4>Public profile</h4>
      <div class="view">
        <label class="profile-field">Display name: </label> <label class="todo-content"> <%= Parse.User.current().escape("first_name") %></label>
        <button class="todo-destroy"></button>
        <input class="edit" value="<%= Parse.User.current().escape("first_name") %>" >
      </div>
      <h4>My settings</h4>
      <div class="view">
        <label class="profile-field">Email: </label> <label class="todo-content"> <%= Parse.User.current().escape("email") %></label>
        <button class="todo-destroy"></button>
        <input class="edit" value="<%= Parse.User.current().escape("email") %>" >
      </div>
      </div>
      <div id="matches"></div>
      <div id="messages"></div>
    </script>

    <script type="text/template" id="login-template">
      <header id="header"></header>
      <div class="login">
        <form class="login-form">
          <h2>Log In</h2>
          <div class="error" style="display:none"></div>
          <button>Log In</button>
        </form>
      </div>
    </script>

    <script type="text/template" id="matches-template">
      <div class="section">
          <h2>Matches</h2>
        <div id="main">
          <ul id="match-list">
          </ul>
        </div>
      </div>
    </script>

    <script type="text/template" id="manage-todos-template">

      <div id="nav"></div>
      <div id="user-info">
        Signed in as <%= Parse.User.current().escape("first_name") %> (<a href="#" class="log-out">Log out</a>)
      </div>

      <ul id="filters">
        <li>
          <a href="javascript:void(0)" id="all" class="selected">Me</a>
        </li>
        <li>
          <a href="javascript:void(0)" id="active">Matches</a>
        </li>
        <li>
          <a href="javascript:void(0)" id="completed">Messages</a>
        </li>
      </ul>

      <div class="section">

        <header id="header">
          <input id="new-todo" placeholder="What needs to be done?" type="text" />
        </header>

        <div id="main">
          <input id="toggle-all" type="checkbox">
          <label for="toggle-all">Mark all as complete</label>
          <ul id="todo-list">
            <img src='images/spinner.gif' class='spinner' />
          </ul>
        </div>

        <div id="todo-stats"></div>
      </div>
    </script>

    <script type="text/template" id="navigation-template">
      <div id="user-info">
        Signed in as <%= Parse.User.current().escape("first_name") %> (<a href="#" class="log-out">Log out</a>)
      </div>

      <ul id="filters">
        <li>
          <a href="javascript:void(0)" id="all" class="selected">Me</a>
        </li>
        <li>
          <a href="javascript:void(0)" id="active">Matches</a>
        </li>
        <li>
          <a href="javascript:void(0)" id="completed">Messages</a>
        </li>
      </ul>
    </script>

    <script type="text/template" id="match-template">
      <li>
      <div class="view">
        <label class="todo-content">Helllooo</label>
      </div>
      <input class="edit" value="">
      </li>
    </script>

    <script type="text/template" id="item-template">
      <li class="<%= done ? 'completed' : '' %>">
      <div class="view">
        <!--<input class="toggle" type="checkbox" <%= done ? 'checked="checked"' : '' %>>-->
        <label class="todo-content"><%= _.escape(content) %></label>
        <!--<button class="todo-destroy"></button>-->
      </div>
      <input class="edit" value="<%= _.escape(content) %>">
      </li>
    </script>

    <script type="text/template" id="stats-template">
      <footer id="footer">
<!--<span id="todo-count"><strong><%= remaining %></strong> <%= remaining == 1 ? 'item' : 'items' %> left</span>
<button id="clear-completed">Clear completed (<%= done %>)</button>-->
      </footer>
    </script>
  </body>

</html>
