<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>OkVSNA</title>
    <link href="css/todos.css" media="all" rel="stylesheet" type="text/css"/>
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="js/underscore.js"></script>
    <script src="http://www.parsecdn.com/js/parse-1.2.13.min.js"></script>
    <script src="js/todos.js"></script>
  </head>

  <body>
    <script>
      // Initialize Parse
      Parse.initialize("BeYZxSllTAa0uompCH7V49osUz0MZlpMHTrtqLpG", "pGpQ1ERlCRDO8rX59aCG2q6rT6uK3RlQbq3uWLX1");
      //window.fbAsyncInit = function() {
      //  Parse.FacebookUtils.init({ // this line replaces FB.init({
      //    appId      : '1626289347652973', // Facebook App ID
      //    cookie     : true,  // enable cookies to allow Parse to access the session
      //    xfbml      : true,  // initialize Facebook social plugins on the page
      //    version    : 'v2.4' // point to the latest Facebook Graph API version
      //  });
      //      // Run code after the Facebook SDK is loaded.
      //};
      //    (function(d, s, id){
      //  var js, fjs = d.getElementsByTagName(s)[0];
      //  if (d.getElementById(id)) {return;}
      //  js = d.createElement(s); js.id = id;
      //  js.src = "http://connect.facebook.net/en_US/sdk.js";
      //  fjs.parentNode.insertBefore(js, fjs);
      //}(document, 'script', 'facebook-jssdk'));
    </script>

    <!-- Todo App Interface -->
    <div id="todoapp">
      <div class="title">
      </div>

      <div class="content">
      </div>
    </div>

    <!-- Templates -->
    <!-- <script type="text/template" id="login-template">
      <header id="header"></header>
      <div class="login">
        <form class="login-form">
          <h2>Log In</h2>
          <div class="error" style="display:none"></div>
          <button>Log In</button>
        </form>
      </div>
    </script> -->

    <script type="text/template" id="login-template">
      <header id="header"></header>
      <div class="login">
        <form class="login-form">
          <h2>Log In</h2>
          <div class="error" style="display:none"></div>
          <input type="text" id="login-username" placeholder="Username" />
          <input type="password" id="login-password" placeholder="Password" />
          <button>Log In</button>
        </form>

        <form class="signup-form">
          <h2>Sign Up</h2>
          <div class="error" style="display:none"></div>
          <input type="text" id="signup-username" placeholder="Username" />
          <input type="password" id="signup-password" placeholder="Create a Password" />
          <button>Sign Up</button>
        </form>
      </div>
    </script>
    <script type="text/template" id="profile-item-template-mc">
       <div class="view">
         <label class="profile-field"><%= field_name %>: </label>
         <select id="<%= label %>-input" class="editProfileFieldMC">
           <% _.each(opts, function(opt) { %> 
               <option <%= Parse.User.current().escape(label) == opt ? 'selected' : '' %> ><%= opt %></option>
           <% }); %>
         </select>
       </div>
    </script>

    <script type="text/template" id="manage-todos-template">
      <div id="nav"></div>
      <br/>
      <div id="profile">
        <div id="public-profile">
        <img id="profile_pic" src="<%= Parse.User.current().get("profile_pic_url") %>" alt="Smiley face" height="300">
        <br/>
        <input type="file" id="profilePhotoFileUpload"><button type="button" id="submit_new">Submit new photo</button>
        <br/>
        <br/>
        </div>
        <div id="interested-in">
        <h4>Interested in</h4>
        </div>
        <div id="settings">
        <h4>Settings</h4>
        </div>
      </div>
      <div id="matches" style="display: none;" class="section">
        <br/>
        <br/>
        <div id="main">
          <ul id="todo-list">
            <img src='images/spinner.gif' class='spinner' />
          </ul>
        </div>
        <div id="todo-stats"></div>
      </div>
      <div id="messages" style="display: none;">
        <br/>
        <br/>
        <input id="new-todo2" placeholder="What needs to be done?" type="text" />
        <br/>
        <br/>
        <div id="main">
          <ul id="todo-list2">
            <img src='images/spinner.gif' class='spinner' />
          </ul>
        </div>
        <hr/>
        <div id="todo-stats2"></div>
      </div>
    </script>

    <script type="text/template" id="navigation-template">
      <div id="user-info">
        Signed in as <%= Parse.User.current().escape("username") %> (<a href="#" class="log-out">Log out</a>)
      </div>
      <ul id="filters">
        <li>
          <a href="javascript:void(0)" id="all" class="selected">Me</a>
        </li>
        <li>
          <a href="javascript:void(0)" id="active">Matches</a>
        </li>
        <li>
          <a href="javascript:void(0)" id="completed">Messages (<%= remaining %>)</a>
        </li>
      </ul>
    </script>

    <script type="text/template" id="profile-item-template">
       <div class="view">
         <label class="profile-field todo-content"><%= field_name %>: </label> <label id="<%= label %>" class="profile-label"> <%= Parse.User.current().escape(label) %></label>
         <button id="<%= label %>-pencil" class="profile-field-pencil todo-destroy"></button>
         <input id="<%= label %>-input" class="editProfileField edit" value="<%= Parse.User.current().escape(label) %>" >
       </div>
    </script>


    <script type="text/template" id="match-template">
      <li class="<%= done ? 'completed' : '' %>">
      <div class="view">
        <input class="toggle" type="checkbox" <%= done ? 'checked="checked"' : '' %>>
        <label class="todo-content"><%= _.escape(username) %></label>
        <button class="todo-destroy"></button>
      </div>
      <input class="edit" value="<%= _.escape(username) %>">
      </li>
    </script>

    <script type="text/template" id="item-template">
      <li class="<%= done ? 'completed' : '' %>">
      <div class="view">
        <input class="toggle" type="checkbox" <%= done ? 'checked="checked"' : '' %>>
        <label class="todo-content"><%= _.escape(content) %></label>
        <button class="todo-destroy"></button>
      </div>
      <input class="edit" value="<%= _.escape(content) %>">
      </li>
    </script>

    <script type="text/template" id="stats-template">
      <footer id="footer">
      <span id="todo-count"><strong><%= remaining %></strong> <%= remaining == 1 ? 'item' : 'items' %> left</span>
      </footer>
    </script>

    <script type="text/template" id="stats-template2">
      <footer id="footer">
      <span id="todo-count"><strong><%= remaining %></strong> <%= remaining == 1 ? 'item' : 'items' %> left</span>
<button id="clear-completed">Clear completed (<%= done %>)</button>
      </footer>
    </script>
  </body>

</html>
