<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>OkVSNA2</title>
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="js/underscore.js"></script>
    <script src="http://www.parsecdn.com/js/parse-1.2.13.min.js"></script>
    <script src="js/okvsna.js"></script>
  </head>

  <body>
    <!-- Todo App Interface -->
    <div id="todoapp">
      <div class="title">
        <h1>OkVSNA2</h1>
      </div>

      <div class="content">
      </div>
    </div>

    <!-- Templates -->
    <script type="text/template" id="login-template">
      <header id="header"></header>
      <div class="login">
        <form class="login-form">
          <h2>Log In</h2>
          <div class="error" style="display:none"></div>
          <input type="text" id="login-username" placeholder="Username" />
          <input type="password" id="login-password" placeholder="Password" />
          <button>Log In</button>
        </form>

        <form class="signup-form">
          <h2>Sign Up</h2>
          <div class="error" style="display:none"></div>
          <input type="text" id="signup-username" placeholder="Username" />
          <input type="password" id="signup-password" placeholder="Create a Password" />
          <button>Sign Up</button>
        </form>
      </div>
    </script>

    <script type="text/template" id="profile-item-template-mc">
       <div class="view">
         <label class="profile-field"><%= field_name %>: </label>
         <select id="<%= label %>-input" class="editProfileFieldMC">
           <% _.each(opts, function(opt) { %>·
               <option <%= Parse.User.current().escape(label) == opt ? 'selected' : '' %> ><%= opt %></option> 
           <% }); %>
         </select>
       </div>
    </script>

    <script type="text/template" id="profile-item-template">
       <div class="view">
         <label class="profile-field todo-content"><%= field_name %>: </label> <label id="<%= label %>" class="profile-label"> <%= Parse.User.current().escape(label) %></label> 
         <button id="<%= label %>-pencil" class="profile-field-pencil todo-destroy"></button>
         <input id="<%= label %>-input" class="editProfileField edit" value="<%= Parse.User.current().escape(label) %>" >
       </div>
    </script>

    <script type="text/template" id="match-template">
      <li>
      <div class="view">
        <img src="<%= _.escape(profile_pic_url) %>" alt="pic" height="75">
        <br/>
        <label class="todo-content"><%= _.escape(username)+", "+_.escape(age) %></label>
        <br/>
        <label>Like?</label><input class="toggle" type="checkbox" <%= Parse.User.current().get("likes").indexOf(_.escape(username)) > -1 ? 'checked="checked"' : '' %>>
      </div>
        <br/>
        <br/>
      </li>
    </script>

    <script type="text/template" id="manage-todos-template">
      <div id="user-info">
        Signed in as <%= Parse.User.current().escape("username") %> (<a href="#" class="log-out">Log out</a>)
      </div>
      <ul id="filters">
        <li>
          <a href="javascript:void(0)" id="all" class="selected">All</a>
        </li>
        <li>
          <a href="javascript:void(0)" id="active">Active</a>
        </li>
        <li>
          <a href="javascript:void(0)" id="completed">Completed</a>
        </li>
      </ul>

      <div id="nav"></div>
      <br/>
      <div id="profile">
        <div id="public-profile">
        <img id="profile_pic" src="<%= Parse.User.current().get("profile_pic_url") %>" alt="Smiley face" height="300">
        <br/>
        <input type="file" id="profilePhotoFileUpload"><button type="button" id="submit_new">Submit new photo</button>
        <br/>
        <br/>
        </div>
        <div id="interested-in">
        <h4>Interested in</h4>
        </div>
        <div id="settings">
        <h4>Settings</h4>
        </div>
      </div>
      <div id="matches" style="display: none;" class="section">
        <div id="main">
          <ul id="todo-list">
          </ul>
        </div>
        <div id="todo-stats"></div>
      </div>
      <div id="msgs" style="display: none;">
        <input id="new-todo2" placeholder="What needs to be done?" type="text" />
        <br/>
        <br/>
        <div id="main">
          <ul id="todo-list2">
          </ul>
        </div>
        <hr/>
        <div id="convo-thread"></div>
        <div id="todo-stats2"></div>
      </div>  
      <div class="section">
        <div id="main">
        </div>
      </div>
    </script>

    <script type="text/template" id="stats-template">
      <footer id="footer">
	<ul id="filters">
	  <li>
	    <a href="javascript:void(0)" id="all" class="selected">All</a>
	  </li>
	  <li>
	    <a href="javascript:void(0)" id="active">Active</a>
	  </li>
	  <li>
	    <a href="javascript:void(0)" id="completed">Completed</a>
	  </li>
	</ul>
	<button id="clear-completed">Clear completed (<%= done %>)</button>
      </footer>
    </script>

  </body>

</html>
